<footer class="footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-3 footer-widget">
          <h4 class="widget-title">Liens utiles</h4>
          <ul class="links list-unstyled">
            <li><%= link_to 'Nous contacter', 'contact'%></li>
            <li><%= link_to 'Le programme', 'events'%></li>
            <li><%= link_to 'Les hébergements', '/files/hebergements.pdf'%></li>
            <li><%= link_to 'Liste de mariage', 'liste_mariage'%></li>
          </ul>
        </div>
        <div class="col-md-3 footer-widget">
          <h4 class="widget-title">Où nous trouver?</h4>
          <ul class="links list-unstyled">
            <li><i class="fa fa-envelope mg-r-sm"></i><span>vincent.hubert@live.fr / fau.melanie@gmail.com</span></li>
            <li><i class="fa fa-phone-square mg-r-sm"></i><span>06.85.27.37.33 / 06.43.85.36.87</span></li>
            <li><i class="fa fa-home mg-r-sm"></i><span>11 rue Maréchal Gallieni - Appt C 26 <br> 33150 CENON</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12">
        <p class="pd-r-md" style="text-align: center;">
          Made with <i class="fa fa-heart-o"></i> and <i class="fa fa-github-alt"></i> in Brussels.
        </p>
      </div>
      </div>
    </div>
  </div>
</footer>
