<%= partial(:nav, :locals => { :root_path => '/' }) %>

<div class="content" role="main">
  <section class="bg-light" id="about">
    <div class="container">
      <div class="section-header">
        <div class="col-xs-12">
          <h1 class="section-title">About us</h1>
          <div class="separator"></div>
          <p class="lead">Lorem ipsum eto dolor sit amet, consectetur elites adipiscing elit morbi volutpat nis molestie rutrum molestie vivamus in cursus dolor colupat eta simeo aenean mattis eto dolor</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 wow zoomIn">
          <div class="event-wrap about-us">
            <div class="event-item">

              <div class="event-body">
                <h5 class="event-title">
                  <span class="text-color">Les mariés</span>
                </h5>
                <div class="event-text">
                  <ul>
                    <li class="couple">
                      Mélanie FAU & Vincent Hubert
                    </li>
                    <li class="home">
                      11 rue Maréchal Gallieni
                      <br>
                      Appt C 26
                      <br>
                      33150 CENON
                    </li>
                    <li class="female">
                      Mélanie FAU
                      <br>
                      06.43.85.36.87
                      <br>
                      <a href="mailto:fau.melanie@gmail.com?subject=Mariage">fau.melanie@gmail.com</a>
                    </li>

                    <li class="male">
                      Vincent HUBERT
                      <br>
                      06.85.27.37.33
                      <br>
                      <a href="mailto:vincent.hubert@live.fr?subject=Mariage">vincent.hubert@live.fr</a>
                    </li>
                    <li class="tequila">
                      Tequila
                      <br>
                      Chez Mr Hubert et Mlle FAU, litière de gauche
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow zoomIn">
          <div class="event-wrap about-us">
            <div class="event-item">
              <div class="event-body">
                <h5 class="event-title">
                  <span class="text-color">Les parents</span>
                </h5>
                <div class="event-text">
                  <ul>
                    <li class="parents">
                      Mélanie FAU & Vincent Hubert
                    </li>
                  </ul>
                </div>
                <hr>
                <div class="event-text">
                  <ul>
                    <li class="parents">
                      Mélanie FAU & Vincent Hubert
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow zoomIn" data-wow-delay="0.3s">
          <div class="event-wrap about-us">
            <div class="event-item">

              <div class="event-body">
                <h5 class="event-title">
                  <span class="text-color">Les témoins</span>
                </h5>
                <div class="event-text">
                  <ul>
                    <li class="couple">
                      Mélanie FAU & Vincent Hubert
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= partial :map %>

</div>
