---
title: M&V - Le mariage
---

<%= partial(:nav, :locals => { :root_path => '/' }) %>

<header class="home-header" data-parallax="scroll" data-image-src="/images/flatlove/header/header_bg.jpg">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 header-content">
        <h1 class="header-title wow bounceIn" data-wow-duration="2s" data-wow-delay="1s">
          <span class="text-white">Mélanie</span>
          <span class="text-color">&amp;</span>
          <span class="text-white">Vincent</span>
        </h1>
        <p class="header-desc wow fadeInUp" data-wow-delay="1.5s">se marient le 29 juillet 2017</p>
      </div>
    </div>
  </div>
</header>

<div class="content" role="main">
  <section class="bg-light" id="wedding-events">
    <div class="container">
      <div class="section-header">
        <div class="col-xs-12">
          <h1 class="section-title">Wedding Events</h1>
          <div class="separator"></div>
          <p class="lead">Lorem ipsum eto dolor sit amet, consectetur elites adipiscing elit morbi volutpat nis molestie rutrum molestie vivamus in cursus dolor colupat eta simeo aenean mattis eto dolor</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 wow zoomIn">
          <div class="event-wrap">
            <div class="event-item">
              <div class="event-head">
                <a class="event-link" href="#">
                  <img class="img-responsive" src="/images/couple/couple_01.jpg" alt="...">
                  <i class="fa fa-search fa-lg"></i>
                </a>
              </div>
              <div class="event-body">
                <h5 class="event-title">
                  <span class="text-color">ON SLA COLLE</span>
                  <small class="text-muted">29 Juillet</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 wow zoomIn" data-wow-delay="0.3s">
          <div class="event-wrap">
            <div class="event-item">
              <div class="event-head">
                <a class="event-link" href="#">
                  <img class="img-responsive" src="/images/couple/couple_03.jpg" alt="...">
                  <i class="fa fa-search fa-lg"></i>
                </a>
              </div>
              <div class="event-body">
                <h5 class="event-title">
                  <span class="text-color">ET ... ON SLA COLLE !</span>
                  <small class="text-muted">29 Juillet</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
