---
title: Le Programme - Mariage de Mélanie & Vincent
---


<%= partial(:nav, :locals => { :root_path => '/' }) %>

<div class="content" role="main">
  <section class="bg-light" id="wedding-events">
    <div class="container">
      <div class="section-header">
        <div class="col-xs-12">
          <h1 class="section-title">Le programme</h1>
          <div class="separator"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 wow zoomIn">
          <div class="event-wrap">
            <div class="event-item">
              <div class="event-head">
                <a class="event-link" href="#">
                  <img class="img-responsive" src="/images/events/mairie.jpg" alt="...">
                  <i class="fa fa-search fa-lg"></i>
                </a>
              </div>
              <div class="event-body">
                <h5 class="event-title">
                  <span class="text-color">Mairie</span>
                  <small class="text-muted">14h</small>
                </h5>
                <p>
                  Nous nous unierons civilement à la mairie de Pluvigner.
                </p>
                <p>
                  Nous vous y attendons nombreux (dans la limite des places disponibles, offre soumise à condition non cumulable avec d'autres promotions.)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow zoomIn">
          <div class="event-wrap">
            <div class="event-item">
              <div class="event-head">
                <a class="event-link" href="#">
                  <img class="img-responsive" src="/images/events/ceremonie.jpg" alt="...">
                  <i class="fa fa-search fa-lg"></i>
                </a>
              </div>
              <div class="event-body">
                <h5 class="event-title">
                  <span class="text-color">Cérémonie</span>
                  <small class="text-muted">16h</small>
                </h5>
                <p>
                  Nous nous dirigerons ensemble vers le <a href="http://moulinduclerigo.fr/" target="_blank">domaine du Moulin du Clerigo</a> pour la cérémonie laïque qui débutera vers 16h00.
                </p>
                <p>
                  Les vœux seront reçus par Maitre Urphéant qui présidera la cérémonie.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow zoomIn" data-wow-delay="0.3s">
          <div class="event-wrap">
            <div class="event-item">
              <div class="event-head">
                <a class="event-link" href="#">
                  <img class="img-responsive" src="/images/events/party.jpg" alt="...">
                  <i class="fa fa-search fa-lg"></i>
                </a>
              </div>
              <div class="event-body">
                <h5 class="event-title">
                  <span class="text-color">Réception</span>
                  <small class="text-muted">18h30</small>
                </h5>
                <p>
                  Enfin la réception pourra commencer, d’abord par le cocktail puis avec le repas et enfin la soirée dansante.
                </p>
                <p>
                  Echauffez-vous, ça va tirer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= partial :map %>

</div>

<%= partial :footer %>