---
title: Mariage de Mélanie & Vincent
---

<!-- NAVBAR
============================================== -->
<%= partial(:nav, :locals => { :root_path => '' }) %>

<!-- HEADER
============================================== -->
<header class="home-header" data-parallax="scroll" data-image-src="/images/flatlove/header/header_bg.jpg">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 header-content">
        <h1 class="header-title wow bounceIn" data-wow-duration="2s" data-wow-delay="1s">
          <span class="text-white">Mélanie</span>
          <span class="text-color">&amp;</span>
          <span class="text-white">Vincent</span>
        </h1>
        <p class="header-desc wow fadeInUp" data-wow-delay="1.5s">se marient le 29 juillet 2017</p>
      </div>
    </div>
  </div>
</header>

<!-- CONTENT
============================================== -->
<div class="content" role="main">

  <div class="section bg-white padding-sm" id="countdown">
    <div class="container">
      <div class="row countdown" data-countdown="2017/07/29 12:00:00">
        <div class="col-xs-3 days countdown-item">
          <span class="countdown-time"></span>
          <span class="countdown-label">Nuits</span>
        </div>
        <div class="col-xs-3 hours countdown-item">
          <span class="countdown-time"></span>
          <span class="countdown-label">Heures</span>
        </div>
        <div class="col-xs-3 minutes countdown-item">
          <span class="countdown-time"></span>
          <span class="countdown-label">Minutes</span>
        </div>
        <div class="col-xs-3 seconds countdown-item">
          <span class="countdown-time"></span>
          <span class="countdown-label">Secondes</span>
        </div>
      </div>
    </div>
  </div>

  <section class="bg-image bg-light" id="the-couple" style="background-image: url('/images/flatlove/couple/section_bg.jpg');">
    <div class="container">
      <div class="section-header">
        <div class="col-xs-12">
          <h1 class="section-title">Le Couple</h1>
          <div class="separator"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="namecard-wrap">
            <div class="namecard-item">
              <div class="namecard-head">
                <img class="img-responsive" src="/images/couple/gub.jpg" alt="...">
              </div>
              <div class="namecard-body">
                <h3 class="no-mg">
                  <span class="text-color">Vincent</span>
                  <small class="text-muted">Le Marié</small>
                </h3>
                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="namecard-wrap">
            <div class="namecard-item">
              <div class="namecard-head">
                <img class="img-responsive" src="/images/couple/mel.jpg" alt="...">
              </div>
              <div class="namecard-body">
                <h3 class="no-mg">
                  <span class="text-color">Mélanie</span>
                  <small class="text-muted">La Mariée</small>
                </h3>
                <div class="separator"></div>
              </div>
            </div>
          </div>
        </div>
        
        <br>
        <br>
        <br>

        <p class="lead">Plus vraiment besoin de se présenter ! Après 8 ans à vous bassiner, rien de saurait mieux nous présenter que vos propres mots : </p>
        
        <blockquote>
          À ses 18 ans, on a quitté un hippie jongleur aux cheveux longs, pour le retrouver un an plus tard au bras de Mélanie, tous les deux formants un brillant couple en 2è année de médecine. Comme quoi papy avait raison, l'armée ça mène à tout.
          <footer>
            <cite>
              Stanislas Boyet
            </cite>
          </footer>
        </blockquote> 
        <blockquote>
          Ils crurent partir à la guerre, ils ne trouvèrent que l'amour
          <footer>
            <cite>
              César Dugast
            </cite>
          </footer>
        </blockquote>
        <blockquote>
          Roméo & Juliette, mais avec une meilleure fin.
          <footer>
            <cite>
              Jean-Baptiste Gerves
            </cite>
          </footer>
        </blockquote>
        <blockquote>
          Ils sont beaux, ils sont blonds, et ensemble ils sont si mignons.
          <footer>
            <cite>
              Aline et Guillaume
            </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </section>

  <div class="section bg-parallax" data-parallax="scroll" data-image-src="/images/couple/couple_05.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 counter-item">
          <p class="counter-value">938</p>
          <p class="counter-desc">verres de rhum</p>
        </div>
        <div class="col-xs-3 counter-item">
          <p class="counter-value">871</p>
          <p class="counter-desc">ti punch</p>
        </div>
        <div class="col-xs-3 counter-item">
          <p class="counter-value">1583</p>
          <p class="counter-desc">bières</p>
        </div>
        <div class="col-xs-3 counter-item">
          <p class="counter-value">1</p>
          <p class="counter-desc">tequila</p>
        </div>
      </div>
    </div>
  </div>

  <section class="bg-white no-pd-b" id="our-photos">
    <div class="container">
      <div class="section-header">
        <div class="col-xs-12">
          <h1 class="section-title">Instants de vie...</h1>
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="container-fluid photo-carousel-wrap">
      <div class="owl-theme owl-carousel mg-b-lg" id="photo-carousel">
        
        <div class="photo-item">
          <img class="img-responsive" src="/images/pictures/Photo3.jpg">
          </div>
        <div class="photo-item">
          <img class="img-responsive" src="/images/pictures/Photo4.jpg">
          </div>
        <div class="photo-item">
          <img class="img-responsive" src="/images/pictures/Photo5.jpg">
          </div>
        <div class="photo-item">
          <img class="img-responsive" src="/images/pictures/Photo6.jpg">
          </div>
        <div class="photo-item">
          <img class="img-responsive" src="/images/pictures/Photo7.jpg">
          </div>
        <div class="photo-item">
          <img class="img-responsive" src="/images/pictures/Photo8.jpg">
          </div>
        <div class="photo-item">
          <img class="img-responsive" src="/images/pictures/Photo9.jpg">
          </div>
        <div class="photo-item">
          <img class="img-responsive" src="/images/pictures/Photo10.jpg">
          </div>
        <div class="photo-item">
          <img class="img-responsive" src="/images/pictures/Photo11.jpg">
          </div>        
      </div>
      
    </div>
    <div class="container text-block">
      <div class="row mg-t-lg mg-b-lg">
        <div class="col-md-6">
          <p class="text-justify">
            <span class="dropcap">L</span>e voyage est un impondérable de notre histoire, c'est aussi autour de ça que l'on s'est construit. Ensemble ou (le plus souvent) avec nos amis, nous aurons vu un peu le monde : Canada, Londres, Budapest, Italie, Espagne, Martinique, et bien évidemment France et ses régions.
          </p>
        </div>
        <div class="col-md-6 hidden-xxs">
          <p class="text-justify">Au gré de notre vie et de nos études, nous aurons découvert la Bretagne puis Bordeaux et Lyon pour enfin revenir à notre terre de coeur : Bordeaux (et son vignoble). Et ça ne s'arrêtera pas là, car si les vacances nous  emmènent au soleil, les missions nous feront surement voir du pays !</p>
        </div>
      </div>
    </div>
    
  </section>

  <div class="section bg-parallax" data-parallax="scroll" data-image-src="/images/couple/square_03.jpg">
    <div class="container">
      <div class="row text-center">
        <img class="quote-sign" src="/images/flatlove/quotes/quote_sign.png" alt="...">
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="owl-carousel owl-theme" id="quote-carousel">
            <div class="quote-item">
              <blockquote>
                « La prochaine fois ne baisse pas ta garde
                <br>
                devant une belle paire de grands yeux ! »
                <br>
                Philoctète dans "Hercules" – Vincent
              </blockquote>
            </div>
            <div class="quote-item">
              <blockquote>
                « Il n'est pas si moche une fois qu'on s'est habitué ! »
                <br>
                Tok, dans "Tarzan" — Mélanie
              </blockquote>
            </div>
            <div class="quote-item">
              <blockquote>
                « Vous voulez de l'amour ? Achetez un chien ! »
                <br>
                Daisy, dans "Les Trois Mousquetaires" – Tequila
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="bg-light" id="our-journal">
    <div class="container">
      <div class="section-header">
        <div class="col-xs-12">
          <h1 class="section-title">Un brin d'histoire ...</h1>
          <div class="separator"></div>
          <blockquote>
            Moi, si je devais résumer ma vie aujourd’hui avec vous, je dirais que c’est d’abord des rencontres. Des gens qui m’ont tendu la main, peut-être à un moment où je ne pouvais pas, où j’étais seul chez moi. Et c’est assez curieux de se dire que les hasards, les rencontres forgent une destinée... Parce que quand on a le goût de la chose, quand on a le goût de la chose bien faite, le beau geste, parfois on ne trouve pas l’interlocuteur en face je dirais, le miroir qui vous aide à avancer. Alors ça n’est pas mon cas, comme je disais là, puisque moi au contraire, j’ai pu : et je dis merci à la vie, je lui dis merci, je chante la vie, je danse la vie... je ne suis qu’amour ! Et finalement, quand beaucoup de gens aujourd’hui me disent « Mais comment fais-tu pour avoir cette humanité ? », et bien je leur réponds très simplement, je leur dis que c’est ce goût de l’amour ce goût donc qui m’a poussé aujourd’hui à entreprendre une construction mécanique, mais demain qui sait ? Peut-être simplement à me mettre au service de la communauté, à faire le don, le don de soi...
          </blockquote>
        </div>
      </div>
      <div class="row mg-t-lg">
        <div class="col-sm-4 wow bounceIn" data-wow-delay="0.2s" data-wow-duration="2s">
          <div class="blog-wrap">
            <div class="blog-item">
              <div class="blog-head">
                <img class="blog-image" src="/images/couple/Photo12.jpg" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn" data-wow-delay="0.5s" data-wow-duration="2s">
          <div class="blog-wrap">
            <div class="blog-item">
              <div class="blog-head">
                <img class="blog-image" src="/images/couple/Photo13.jpg" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn" data-wow-delay="0.8s" data-wow-duration="2s">
          <div class="blog-wrap">
            <div class="blog-item">
              <div class="blog-head">
                <img class="blog-image" src="/images/couple/Photo14.jpg" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-parallax rsvp" data-parallax="scroll" data-image-src="/images/pictures/rsvp.jpg" id="rsvp">
    <div class="container">
      <div class="row wow fadeInUpBig" data-wow-duration="1.4s">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <!-- Change the width and height values to suit you best -->
          <div class="typeform-widget rsvp-form bg-light" data-url="https://cofymiammiam.typeform.com/to/CLv5Ea" data-text="Event Registration" style="width:100%;height:500px;"></div>
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        </div>
      </div>
    </div>
  </section>


  <%= partial :map %>

  <button class="btn btn-half-dark btn-scrolltop" id="scrollTop">
    <i class="fa fa-chevron-up"></i>
  </button>

</div>

<%= partial :footer %>
