---
title: List de Mariage - Mariage de Mélanie & Vincent
---

<%= partial(:nav, :locals => { :root_path => '/' }) %>

<div class="content" role="main">
  <section class="bg-light" id="about">
    <div class="container">
      <div class="section-header">
        <div class="col-xs-12">
          <h1 class="section-title">Liste de mariage</h1>
          <div class="separator"></div>
          <br>
          <br>
          <p class="lead">
            Ne cherchez pas notre liste de mariage,
            <br>
            vous pourrez déposer votre enveloppe dans l'urne qui sera prévue à cet effet !
          </p>
          <%= image_tag('pictures/urne.jpg', class: "urne")%>
        </div>
      </div>
    </div>
  </section>
</div>

<%= partial :footer %>